/*add padding to sliders to make it easier to touch in small screens*/
.stSlider{
    padding-left: 1em;
    padding-right: 1em;
}

/*the sidebar arrow should be greater in small screens*/
button[kind="header"] .ex0cdmw0 {
    scale: 2;
}

/*decrease the empty space above the page body*/
css-12oz5g7.egzxvld2 {
    padding-top: 20px;
}

/*nice round photos for about page*/
.etr89bj1 img {
    border-radius: 50%;
}

/*main titles should be clearer and centered*/
h1 {
    font-weight: bold;
    text-align: center;
}

/*subheaders should be clearer and centered*/
.css-10trblm.e16nr0p30 {
    font-weight: bold;
    text-align: center;
}

/*columns centered*/
.e1tzin5v2 {
    text-align: center;
}

/*the LaTeX content does not need to be so huge*/
.katex{
    font-size: 1.05em;
}

/*increase font size*/
p {
    font-size: 19px;
}

/*hide Streamlit components*/
MainMenu {
    visibility: hidden;
}

footer {
    visibility: hidden;
}

header {
    visibility: hidden;
}
